* {
    margin: 0;

}

.container {
    padding-top: 100px;
    max-width: 1500px;
    display: flex;
    justify-content: center;
}

.full-width-container {
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    padding-top: 100px;
}

center {
    text-align: left;
    display: flex;
    justify-content: center;
}

nav {
    background-color: #050583;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

nav h1 {
    color: white;
    font-size: 50px;
    padding-left: 50px;
}

nav ul {
    display: flex;
    gap: 20px;
    color: white;
    margin-right: 70px;
    font-size: 30px;
    font-weight: 200;
    list-style: none;

}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}

.image {
    background-image: url(WIN_20230129_18_34_19_Pro.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 200px;
    background-repeat: no-repeat;
    background-position: center center;
}

div h3 {
    padding: 30px 5px;
    font-size: 30px;
    padding-bottom: 10px;
}

div p {
    font-size: 60px;
    padding-bottom: 20px;
}

div h5 {
    font-size: 20px;
    padding-bottom: 5px;
}

.box {
    background-color: #1c1cac90;
    color: white;
    font-weight: 800;
    height: 40vh;
    min-width: 550px;
    border-radius: 20px;
    padding-left: 20px;
    align-content: center;
    display: block;

}

button {
    margin: 30px 60px;
    border-radius: 40px;
    background-color: white;
    color: #1c1cac90;
    font-size: 12px;
    padding: 10px 30px;


    border: 5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500px;
}

button:hover {
    background-color: #1c1cac90;
    color: white;
    cursor: pointer;
}

.paragraph h5 {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 800;
    color: #050583;

}

.paragraph h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.paragraph p {
    font-size: 30px;

}

.paragraph h3 {
    font-family: cursive;
    font-weight: 400;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.featuring {
    background-color: #e5e5ee;
    background-size: cover;

}

.featuring {
    padding-top: 10px;
    background-color: #e5e5ee;
    background-size: cover;

}

.featuring h5 {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 800;
    color: #050583;
}

.featuring h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.featuring p {
    font-size: 30px;

}
.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:50px;
    justify-content: space-between;
    margin-top: 50px;
}
.grid-item-item1{
    font-size: 100px;
    border:10px;
    margin:20px;
    display:flex;
    justify-content: center;
    background-image: url(WIN_20230129_18_34_19_Pro.jpg);
    background-repeat: no-repeat;
    height: 20vh;
    align-items: center;
    background-size: cover;
    border-radius: 20px;
    gap:30px;
}
.grid-item-item2{
    font-size: 100px;
    border:10px;
    margin:20px;
    display:flex;
    justify-content: center;
    background-image: url(WIN_20230129_18_34_19_Pro.jpg);
    background-repeat: no-repeat;
    height: 20vh;
    align-items: center;
    background-size: cover;
    border-radius: 20px;
    gap:30px;

}
.grid-item-item3{

    font-size: 100px;
    border:10px;
    margin:20px;
    display:flex;
    justify-content: center;
    background-image: url(WIN_20230129_18_34_19_Pro.jpg);
    background-repeat: no-repeat;
    height: 20vh;
    align-items: center;
    background-size: cover;
    border-radius: 20px;
    gap:30px;
}
.grid-item-item4{

    font-size: 100px;
    border:10px;
    margin:20px;
    display:flex;
    justify-content: center;
    background-image: url(WIN_20230129_18_34_19_Pro.jpg);
    background-repeat: no-repeat;
    height: 20vh;
    align-items: center;
    background-size: cover;
    border-radius: 20px;
    gap:30px;
}